:root {
    --link-color: #fff;
    --heading-font-family:"Roboto", sans-serif;
    --text-font-family:"Roboto", sans-serif;
}
*{
    font-family: var (--text-font-family);
}
.global-main {
    background-color: #2E2F42;
}