:root {
    --link-color: #fff;

   .roboto-regular{
    font-family: "Roboto", sans-serif;
     font-weight: 400;
     font-style: normal;
    width: 264px;
    height: 72px;
    margin-top: 5px;

   }
        .roboto-medium {
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-style: normal;
            width: 264px;
            height: 24px;
                
        }
    
        .roboto-bold-italic {
            font-family: "Roboto", sans-serif;
            font-weight: 700;
            font-style: italic;
        display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: flex-start;
            
        }
    
            
        .raleway-extra-bold{
            font-family: "Raleway", sans-serif;
            font-weight: 800;
            font-style: normal;
        }
        
        .global-header .main-nav{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        color:#2E2F42
        

        }
        .global-contacts {
        font-family: "Roboto", sans-serif;
         font-weight: 400;
        font-style: normal;
        color: #434455;
        display: flex;
        justify-content: space-between;
        width: 153px; 
        height: 24px;
         top: 24px;
         left: 940px;  
    }
        
        
        
        }
.button-service{
    background-color:#4D5AE5;
    color:#FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 169px; 
    height: 56px;
    top: 428px;
    left: 636px;
     padding: 16px, 32px, 16px, 32px;
     border-radius: 4px;
     gap: 10px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.button-All{
    background-color: #404bbf;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color:#FFFFFF;
    width: Hug (69px);
    height: Hug (48px);
    padding: 12px, 24px, 12px, 24px;
    border-radius: 4px;
    cursor: pointer;
    }
    
.exemple-element{
    width: 16px; 
    height: 16px;
    top: 213px;
    left: 482px;
    padding: 0px, 1.33px, 0px, 1.33px;
}
.button-Web{
 background-color:#E7E9FC;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
color: #4D5AE5;
width: Hug (116px);
 height: Hug (48px); 
 padding: 12px, 24px, 12px, 24px;
border-radius: 4px;
border: 1px;
}
.button-App{
    background-color: #E7E9FC;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #4D5AE5;
    width: Hug (78px);
     height: Hug (48px);
      padding: 12px, 24px, 12px, 24px;
     border-radius: 4px; 
     border: 1px;
}
.button-Design{
    background-color: #E7E9FC;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #4D5AE5;
    width: Hug (101px);
     height: Hug (48px);
      padding: 12px, 24px, 12px, 24px;
      border-radius: 4px;
      border: 1px;
  
}
.button-Marketing{
    background-color: #E7E9FC;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #4D5AE5;
    width: Hug (126px);
     height: Hug (48px); 
    padding: 12px, 24px, 12px, 24px;
    border-radius: 4px;
     border: 1px;
}
.albastru{
    color:#4D5AE5;
    font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-style: normal;
        Size: 18px;
        Line height: 21px;
        white-space: nowrap;
        
    
}
.negru{
    color:#2E2F42;
   font-family: "Raleway", sans-serif;
   font-weight: 800;
   font-style: normal;
   Size: 18px;
Line height: 21px;
width: 71px;
height: 21px;
white-space: nowrap;


    
}
.alb{
    color:#F4F4FD;
    font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-style: normal;
        Size: 18px;
        Line height: 21px;
        white-space: nowrap;
}
.global-footer{
    background-color: #2E2F42;
    color:#fff;
    width: 1500px;
    height: 312px ;
    top: 2280px;
}
.fara-puncte{
    list-style-type: none;
width: 261px;
 height:24px;
 top: 24px;
 left: 347px;
 gap: 40px;
display: flex;
justify-content: space-between;
}
.hero-imagines{
    background-color: #2E2F42;
    color:#fff;
    width: 1500px;
    height: 400px;
    top: 72px;
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: space-around;
     
}
.Light-bg{
    background-color:#F4F4FD;
    text-align: center;
    width: 1500px;
    height: 400px;
    top: 792px;
    
    
}
.echipa-proiect{
    margin bottom: 40px;
    display: inline-block;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
        gap:32px;
        
}
.container{
    text-align: center;
    
    flex-direction: row;
    width: 1128px;
    height: 104px ;
    top: 792px ;
    left: 156px;
}
.tilul-text{
    margin-bottom: 20px;
    display: inline-block;
    width: 1500;
     height: Hug (104px) ;
     top: 792px ;
     left: 156px ;
     gap: 8px;
}
.container-imagini{
    text-align:center;
    width: 1500px; 
    height: 412px ;
    top: 1016px ;
    left: 156px;
}
.imagini{
    display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: flex-start;
        gap: 10px;
}